<div id="map"></div>

<app-header />

<aside class="main" id="sidebar">
  <div class="main-header">
    <div class="main-title">Оформление доставки</div>
    <div class="main-text">Выберите параметры для расчета отправления</div>
  </div>

  <div class="main-content">
    <div class="main-route" [formGroup]="routeForm">      <!--  [formGroup]="routeForm" связываем с формой routeForm -->
      <div class="main-block-title">Маршрут</div>
      <div class="main-fields">
        <div class="main-field" id="fromField">
          <div class="main-pin"></div>
          <input id="from" placeholder="Откуда: начните вводить адрес" autocomplete="off" formControlName="from" [attr.disabled]="!!orderId()" />   <!-- добавили formControlName="from"  и [attr.disabled]="!!orderId()" -->
          <div class="main-ac" id="fromAc" role="listbox" aria-label="Подсказки адресов"></div>
        </div>

        @if (this.routeForm.get('from')?.invalid && (this.routeForm.get('from')?.dirty || this.routeForm.get('from')?.touched)) {     <!--  если поле не заполнено то выводим сообщение -->
          <label for="from" class="input-error">Заполните поле Откуда</label>
        }

        <div class="main-field" id="toField">
          <div class="main-pin"></div>
          <input id="to" placeholder="Куда: начните вводить адрес" autocomplete="off" formControlName="to" [attr.disabled]="!!orderId()" />    <!-- добавили formControlName="to" и [attr.disabled]="!!orderId()" -->
          <div class="main-ac" id="toAc" role="listbox" aria-label="Подсказки адресов"></div>
        </div>

        @if (this.routeForm.get('to')?.invalid && (this.routeForm.get('to')?.dirty || this.routeForm.get('to')?.touched)) {
          <label for="from" class="input-error">Заполните поле Куда</label>
        }

      </div>
    </div>

    <div class="main-package" [style.display]="orderId() ? 'none' : null">    <!-- если orderId() есть, то style.display='none' иначе style.display='null' -->
      <div class="main-block-title">Размер посылки</div>

      <div class="main-sizes">
        @for (size of sizes; track size.value) {
          <div class="main-size-card" [class.is-active]="routeForm.value.size === size.value"
            (click)="selectSize(size.value)">
            <div class="main-size-top">
              <div class="main-size-label">{{ size.value | uppercase }}</div>
              <div class="main-size-rate">{{ size.rate }} ₽/км</div>
            </div>
            <div class="main-size-media" [class]="size.value === 'max' ? 'main-size-media-palleta' : ''">
              <img [src]="'images/sizes/' + size.value + '.png'" [alt]="size.value" />
            </div>
            <div class="main-size-description" [innerHTML]="size.description"></div>
          </div>
        }


        <!-- <div class="main-size-card is-active" data-value="xs">
            <div class="main-size-top">
              <div class="main-size-label">XS</div>
              <div class="main-size-rate">9 ₽/км</div>
            </div>
            <div class="main-size-media">
              <img src="images/sizes/xs.png" alt="Короб XS" />
            </div>
            <div class="main-size-description">17×12×9 см,<br>до 0.5 кг</div>
          </div>

          <div class="main-size-card" data-value="s">
            <div class="main-size-top">
              <div class="main-size-label">S</div>
              <div class="main-size-rate">13 ₽/км</div>
            </div>
            <div class="main-size-media">
              <img src="images/sizes/s.png" alt="Короб S" />
            </div>
            <div class="main-size-description">23×19×10 см,<br>до 2 кг</div>
          </div>

          <div class="main-size-card" data-value="m">
            <div class="main-size-top">
              <div class="main-size-label">M</div>
              <div class="main-size-rate">20 ₽/км</div>
            </div>
            <div class="main-size-media">
              <img src="images/sizes/m.png" alt="Короб M" />
            </div>
            <div class="main-size-description">33×25×15 см,<br>до 5 кг</div>
          </div>

          <div class="main-size-card" data-value="l">
            <div class="main-size-top">
              <div class="main-size-label">L</div>
              <div class="main-size-rate">27 ₽/км</div>
            </div>
            <div class="main-size-media">
              <img src="images/sizes/l.png" alt="Короб L" />
            </div>
            <div class="main-size-description">31×25×38 см,<br>до 12 кг</div>
          </div>

          <div class="main-size-card" data-value="xl">
            <div class="main-size-top">
              <div class="main-size-label">XL</div>
              <div class="main-size-rate">35 ₽/км</div>
            </div>
            <div class="main-size-media">
              <img src="images/sizes/xl.png" alt="Короб XL" />
            </div>
            <div class="main-size-description">60×35×30 см,<br>до 18 кг</div>
          </div>

          <div class="main-size-card" data-value="max">
            <div class="main-size-top">
              <div class="main-size-label">MAX</div>
              <div class="main-size-rate">70 ₽/км</div>
            </div>
            <div class="main-size-media main-size-media-palleta">
              <img src="images/sizes/max.png" alt="Паллета" />
            </div>
            <div class="main-size-description">120×120×80 см,<br>до 200 кг</div>
          </div> -->
      </div>
    </div>

    <div class="main-speed" [style.display]="orderId() ? 'none' : null">    <!-- если orderId() есть, то style.display='none' иначе style.display='null' -->
      <div class="main-block-title">Скорость доставки</div>

      <div class="main-speeds">
        @for (speed of speeds; track speed.value) {
          <div class="main-speed-card" [class.is-active]="routeForm.value.speed === speed.value"
            (click)="selectSpeed(speed.value)">
            <img class="main-speed-media" src="images/icons/{{speed.value}}.svg" alt="Speed" />
            <div class="main-speed-description">{{ speed.label }}</div>
          </div>
        }

        <!-- <div class="main-speed-card is-active" data-value="regular">
            <img class="main-speed-media" src="images/icons/regular.svg" alt="Regular" />
            <div class="main-speed-description">Обычная</div>
          </div>
          <div class="main-speed-card" data-value="fast">
            <img class="main-speed-media" src="images/icons/fast.svg" alt="Fast" />
            <div class="main-speed-description">Приоритетная</div>
          </div> -->
      </div>
    </div>

    <div class="main-calculate-block" [style.display]="orderId() ? 'none' : null">     <!-- если orderId() есть, то style.display='none' иначе style.display='null' -->
      <button id="calc" class="button calculate-button" type="button" [disabled]="routeForm.invalid" (click)="calculate()">Рассчитать</button> <!-- при клике на кнопку вызовется  наша функция calculate() -->
    </div>


    <div class="main-result" id="result">
      <div class="main-result-title">Расчеты вашего заказа</div>
      <div class="main-result-lines">
        <div class="main-result-line"><span>Расстояние</span><span id="distanceValue">{{ calculationResult() ? calculationResult().distance + ' км' : '—' }}</span></div>
        <div class="main-result-line"><span>Доставим через</span><span id="durationValue">{{ calculationResult() ? calculationResult().duration + ' дн.' : '—' }}</span></div>
        <div class="main-result-line"><span>Тариф</span><span id="rateValue">{{ calculationResult() ? calculationResult().rate + ' ₽/км' : '—' }}</span></div>
      </div>
      <div class="main-price">
        <div class="main-price-label">Итого</div>
        <div class="main-price-value" id="totalValue">{{ calculationResult() ? calculationResult().total : '—' }}</div>
      </div>
    </div>

    <div class="main-order-box">
      <div class="main-order-form" id="orderForm" [formGroup]="orderForm" [style.display]="orderId() ? 'none' : null">    <!--  [formGroup]="orderForm" связываем с формой orderForm. Добавили [style.display]="orderId()". Отображаем или убираем этот блок: [style.display]="orderId() ? 'none' : null" -->
        <div class="main-order-title">Оформление доставки</div>
        <div class="main-block-info-row">
          <div class="main-block-title">Контакты</div>
          <div class="order-fields">
            <div class="main-field">
              <input id="customerName" placeholder="Ваше имя" autocomplete="off" formControlName="name" />      <!-- добавили formControlName="name" -->
            </div>
            <div class="main-field">
              <input id="customerPhone" placeholder="Ваш телефон" autocomplete="off" inputmode="tel" formControlName="phone" />       <!-- добавили formControlName="phone" -->
            </div>

            <div>
              @if (this.orderForm.get('name')?.invalid && (this.orderForm.get('name')?.dirty || this.orderForm.get('name')?.touched)) {   <!--  если поле name не заполнено то выводим сообщение -->
                  <label for="customerName" class="input-error">Заполните имя</label>
              }
            </div>
            <div>
              @if (this.orderForm.get('phone')?.invalid && (this.orderForm.get('phone')?.dirty || this.orderForm.get('phone')?.touched)) {       <!--  если поле  phone не заполнено то выводим сообщение -->
                  <label for="customerName" class="input-error">Заполните телефон</label>
              }
            </div>
          </div>
        </div>
        
        <div class="main-block-info-row extra-info">
          <div class="main-block-title">Дополнительная информация</div>
          <div class="main-field textarea">
            <textarea id="comment" placeholder="Детали доставки и комментарии" formControlName="comment"></textarea>   <!-- добавили formControlName="comment" -->
          </div>
        </div>
        <button id="submit" class="button main-submit-request" type="button" [disabled]="!calculationResult() || orderForm.invalid" (click)="submitOrder()">Отправить заявку</button>  <!-- при клике вызывается фукнция submitOrder() -->
      </div>

      <!-- уведомление об отравке заказа -->
      <div class="main-order-success" id="orderSuccess" [class.is-visible]="orderId()"> <!-- добавили [class.is-visible]="orderId()". Если orderId есть, то добавитя класс is-visible  -->
        <div class="main-success-icon">✓</div>
        <div class="main-success-title">Заявка отправлена!</div>
        <div class="main-success-title">Номер отправления – <span id="orderId">{{orderId()}}</span></div>  <!-- добавили {{orderId()}} -->
        <div class="main-success-subtitle">Мы скоро свяжемся с вами</div>
      </div>
    </div>
  </div>
</aside>